<!DOCTYPE html>
<html>
<head>
	<title>Weather overview from Metvuw.com</title>
</head>
<body>
	<div id="app">
		<div v-if="!view_config.print_view">
			<label>Year</label>
			<input type="text" v-model="weather_config.base_date.year">
			<label>Month</label>
			<input type="text" v-model="weather_config.base_date.month">
			<label>Day</label>
			<input type="text" v-model="weather_config.base_date.day">
			<label>Hour</label>
			<input type="text" v-model="weather_config.base_date.hour">
			<label>Qty Samples</label>
			<input type="text" v-model="weather_config.samples">
			<label>Sample offset</label>
			<input type="text" v-model="weather_config.sample_offset">

			<h1>Weather sampled at {{ sample_date }}</h1>
			<a href="http://metvuw.co.nz/forecast/forecast1.php?type=rain&region=nzni&tim=006">MetVuw</a>
		</div>

		<div>
			<input type="checkbox" v-model="view_config.print_view">Print view</input>
		</div>
		<div>
			<button type="button" v-on:click="exit_zoom" v-if="view_config.zoomed">Exit zoom</button>
			<button type="button" v-on:click="previous_zoom" v-if="view_config.zoomed">Previous</button>
			<template v-for="i in parseInt(weather_config.samples)">
				<img v-bind:src="display_image(i + parseInt(weather_config.sample_offset))"
				v-bind:id="'forecast_image' + i"
				v-on:click="zoom(i)"
				v-if="index_is_visible(i)"/>
			</template>
			<button type="button" v-on:click="next_zoom" v-if="view_config.zoomed">Next</button>
		</div>
	</div>

	<script 
		type="text/javascript"
		src="https://unpkg.com/vue">
	</script>
	<script 
		type="text/javascript"
		src="https://unpkg.com/axios/dist/axios.min.js">
	</script>
	<script type="text/javascript">
		function form_url(timestamp, offset_hours) {
			return "http://metvuw.co.nz/forecast/" + timestamp + "/rain-nzni-" + timestamp + "-" + offset_hours + ".gif"
		}

		function form_timestamp(bd) {
			return `${bd.year.toString()}${bd.month.toString().padStart(2, 0)}${bd.day.toString().padStart(2, 0)}${bd.hour.toString().padStart(2, 0)}`
		}
		var app = new Vue({
			el: '#app',
		  	methods: {
		  		display_image: function(offset) {
		  			let suffix = ((offset || 1) * 6).toString().padStart(3, 0)
		  			let bd = this.weather_config.base_date
		  			return form_url(form_timestamp(bd), suffix)
		  		},
		  		zoom: function(index) {
		  			this.view_config.zoomed = true
		  			this.view_config.zoom_index = index
		  		},
				index_is_visible: function(index) {
					if (!this.view_config.zoomed)
						return true

					return index == this.view_config.zoom_index
				},
				next_zoom: function() {
					this.view_config.zoom_index = Math.min(this.view_config.zoom_index + 1, this.weather_config.samples)
				},
				previous_zoom: function() {
					this.view_config.zoom_index = Math.max(this.view_config.zoom_index - 1, 1)
				},
				exit_zoom: function() {
					this.view_config.zoomed = false
				}
		  	},
			data: {
				weather_config: {
					sample_offset: 0,
					samples: 2,
					base_date: {
						year: new Date().getFullYear(),
						month: new Date().getMonth() + 1,
						day: 22,//new Date().getDate(),
						hour: 18
					}
				},
				view_config: {
					print_view: false,
					zoomed: false,
					zoom_index: 1,
				}
			},
			computed: {
				sample_date: function() {
					let bd = this.weather_config.base_date
					return `${bd.year}-${bd.month}-${bd.day} ${bd.hour.toString().padStart(0, 2)}00` 
				}
			}
		})
	</script>
</body>
</html>